<ion-view hide-tabs="true" class="regular">
    <ion-header-bar class="bar-header bar-calm">
        <a ui-sref="tab.home" nav-direction="back">
            <i class="ion-chevron-left text-center"
               style="font-size: 20px ;padding: 10px 10px;line-height: 1.8;"></i>
        </a>
        <h5 class="title">规则</h5>
    </ion-header-bar>
    <ion-content style="background-color: #f5f5f5">
        <div>
            <p class="regular-title"><span class="rg"></span>怎么赚钱</p>
            <div class="regular-text">
                <p>1、首先，新用户可以通过下载本地APP并注册得到新手红包现金</p><br/>

                <p>2、接下来，您可以在本APP首页中分类的任务中选取您喜欢的任务点击进入详情页面阅读任务步骤
                    ，开始点击领取任务，开始任务。</p><br/>
                <p>3、最后，您可以在收益页查看您的收益并提现到您的微信钱包或支付宝中</p>
            </div>

            <p class="regular-title"><span class="rg"></span>了解积分</p>
            <div class="regular-text">
                <p>1、首先，新用户可以通过下载本地APP并注册得到新手红包现金</p><br/>

                <p>2、接下来，您可以在本APP首页中分类的任务中选取您喜欢的任务点击进入详情页面阅读任务步骤
                    ，开始点击领取任务，开始任务。</p><br/>
                <p>3、最后，您可以在收益页查看您的收益并提现到您的微信钱包或支付宝中</p>
            </div>

        </div>
    </ion-content>

</ion-view>
