<ion-view hide-tabs="true" class="sign">
    <ion-content class="cbg">
        <div>
            <img src="testsource/img////////////////////////////////////////////////////////////sign.png" width="100%">

            <div class="row hed">
                <div class="col col-50" >
                    <!--<a >-->
                    <div style="width: 30px;height: 30px" ui-sref="tab.home">


                        <i class="ion-chevron-left text-center"
                           style="font-size: 20px ;color: #ffffff"></i>
                    </div>
                    <!--</a>-->
                </div>
                <div class="col col-50 text-right">
                    <div style="height: 30px;text-align: right" ng-click="openhelp()">
                        <i class="ion-help-circled text-right"
                           style="font-size: 20px ; color: #ffffff"></i>
                    </div>
                </div>
            </div>
            <div class="tnum">
                <span>10</span><span style="font-size: 24px;padding-left: 10px">积分</span>
            </div>
        </div>
        <div class="text-center qdgz">
            <span>明日签到可获得<span class="num">15</span>积分</span><br/>
            <span style="color: #7a7a7a">连续签到更多惊喜等你来拿！</span>
        </div>

        <div class="tsign text-center">
            签到
        </div>

    </ion-content>
</ion-view>