<ion-view cache-view="false" hide-nav-bar="true">
    <ion-content class=" home">
        <ion-slide-box does-continue="true" auto-play="true">
            <ion-slide>
                <div class="box item item-image">
                    <img src="testsource/img////////////////////////////////////////////////////////////banner1.png"/>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box item item-image">
                    <img src="testsource/img////////////////////////////////////////////////////////////banner1.png"/>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box item item-image">
                    <img src="testsource/img////////////////////////////////////////////////////////////banner1.png"/>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="row flex-wrap nav-bg">
            <div class="col col-33 text-center sub-head" ui-sref="tab.sign">
                <div class="del">
                    <img src="testsource/img////////////////////////////////////////////////////////////home-qd.png" style="width: 100%" >

                    <p class="text-center">签到</p>
                </div>
            </div>
            <div class="col col-33  text-center sub-head" ui-sref="lucydraw" nav-direction="forward">
                <img src="testsource/img////////////////////////////////////////////////////////////home-cj.png">
                <p>抽奖</p>
            </div>
            <div class="col col-33 text-center sub-head" ui-sref="tab.regular" >
                <div class="right">

                    <img src="testsource/img////////////////////////////////////////////////////////////home-gz.png" style="width: 100%">
                    <p>规则</p>
                </div>
            </div>
        </div>
        <div style="margin-top: -20px">


        <div class="row home-calm">
            <div class="col col-50 home-pad" ui-sref="productlist" nav-direction="forward">
                <img src="testsource/img////////////////////////////////////////////////////////////home-calm1.png">

            </div>
            <div class="col col-50 home-pad" ui-sref="productlist" nav-direction="forward">
                <img src="testsource/img////////////////////////////////////////////////////////////home-calm2.png">

            </div>
        </div>
        <div class="row home-calm">
            <div class="col col-50 home-pad" ui-sref="productlist" nav-direction="forward">
                <img src="testsource/img////////////////////////////////////////////////////////////home-calm3.png">

            </div>
            <div class="col col-50 home-pad">
                <img src="testsource/img////////////////////////////////////////////////////////////home-calm4.png" ui-sref="productlist" nav-direction="forward">

            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
