<ion-view class="mytask" cache-view="false">
    <ion-header-bar class="bar-header bar-calm">
        <h5 class="title">我的任务</h5>
    </ion-header-bar>
    <ion-tabs class=" tabs-striped tabs-top ">
        <ion-tab  class="our-task" title="全部">
            <ion-view>
                <ion-content class="bg">
                    <!--<ion-refresher-->
                    <!--pulling-text="Pull to refresh..."-->
                    <!--on-refresh="doRefresh()">-->
                    <!--</ion-refresher>-->
                    <ion-list>
                        <div class="card pro">
                            <div class="item-remove-animate  item-thumbnail-left pro-item">
                                <img class="thumb" src="testsource/img////////////////////////////////////////////////////////////pro1.png">
                                <span style="font-size: 14px">关注公众号＋转发朋友圈</span><br>
                                <span style="font-size: 10px">北京｜学生</span><br>
                                   <span class="item-note pro-mon">
                                        <span style="font-size: 20px;color: #ff611b">1.5</span>元
                                  </span>
                                <span style="font-size: 10px">剩余200次</span><br>
                                <span style="font-size: 10px">2016-07-30截止</span>
                            </div>
                            <p class="text-center pro-tip">
                                请在00:00:00内按任务提交请求
                            </p>
                        </div>

                        <div class="card pro">
                            <div class="item-remove-animate  item-thumbnail-left pro-item">
                                <img class="thumb" src="testsource/img////////////////////////////////////////////////////////////pro2.png">
                                <span style="font-size: 14px">关注公众号＋转发朋友圈</span><br>
                                <span style="font-size: 10px">北京｜学生</span><br>
                                   <span class="item-note pro-mon">
                                        <span style="font-size: 20px;color: #ff611b">1.5</span>元
                                  </span>
                                <span style="font-size: 10px">剩余200次</span><br>
                                <span style="font-size: 10px">2016-07-30截止</span>
                            </div>
                            <p class="text-center pro-tip">
                                请在00:00:00内按任务提交请求
                            </p>
                        </div>

                        <div class="card pro">
                            <div class="item-remove-animate  item-thumbnail-left pro-item">
                                <img class="thumb" src="testsource/img////////////////////////////////////////////////////////////pro3.png">
                                <span style="font-size: 14px">关注公众号＋转发朋友圈</span><br>
                                <span style="font-size: 10px">北京｜学生</span><br>
                                   <span class="item-note pro-mon">
                                        <span style="font-size: 20px;color: #ff611b">1.5</span>元
                                  </span>
                                <span style="font-size: 10px">剩余200次</span><br>
                                <span style="font-size: 10px">2016-07-30截止</span>
                            </div>
                            <p class="text-center pro-tip">
                                请在00:00:00内按任务提交请求
                            </p>
                        </div>


                    </ion-list>
                    <!--<ion-infinite-scroll on-infinite="load_more();">-->
                    <!--</ion-infinite-scroll>-->
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="进行中">
            <ion-view>
                <ion-content class="bg">
                    <ion-list>
                    <div class="card pro">
                        <div class="item-remove-animate  item-thumbnail-left pro-item">
                            <img class="thumb" src="testsource/img////////////////////////////////////////////////////////////pro3.png">
                            <span style="font-size: 14px">关注公众号＋转发朋友圈</span><br>
                            <span style="font-size: 10px">北京｜学生</span><br>
                                   <span class="item-note pro-mon">
                                        <span style="font-size: 20px;color: #ff611b">1.5</span>元
                                  </span>
                            <span style="font-size: 10px">剩余200次</span><br>
                            <span style="font-size: 10px">2016-07-30截止</span>
                        </div>
                        <p class="text-center pro-tip">
                            请在00:00:00内按任务提交请求
                        </p>
                    </div>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="审核中">
            <ion-view>
                <ion-content class="bg">
                    <ion-list>
                        <div class="card pro">
                            <div class="item-remove-animate  item-thumbnail-left pro-item">
                                <img class="thumb" src="testsource/img////////////////////////////////////////////////////////////pro2.png">
                                <span style="font-size: 14px">关注公众号＋转发朋友圈</span><br>
                                <span style="font-size: 10px">北京｜学生</span><br>
                                   <span class="item-note pro-mon">
                                        <span style="font-size: 20px;color: #ff611b">1.5</span>元
                                  </span>
                                <span style="font-size: 10px">剩余200次</span><br>
                                <span style="font-size: 10px">2016-07-30截止</span>
                            </div>
                            <p class="text-center pro-tip">
                                审核中
                            </p>
                        </div>
                    </ion-list>

                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="已结束">
            <ion-view>
                <ion-content class="bg">
                    <ion-list>
                        <div class="card pro">
                            <div class="item-remove-animate  item-thumbnail-left pro-item">
                                <img class="thumb" src="testsource/img////////////////////////////////////////////////////////////pro1.png">
                                <span style="font-size: 14px">关注公众号＋转发朋友圈</span><br>
                                <span style="font-size: 10px">北京｜学生</span><br>
                                   <span class="item-note pro-mon">
                                        <span style="font-size: 20px;color: #ff611b">1.5</span>元
                                  </span>
                                <span style="font-size: 10px">剩余200次</span><br>
                                <span style="font-size: 10px">2016-07-30截止</span>
                            </div>
                            <p class="text-center pro-tip">
                                已结束
                            </p>
                        </div>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>

</ion-view>