<style>
    .ngdialog.ngdialog-theme-plain .ngdialog-content {
        color: #000000;
        font-family: 'Helvetica Neue',sans-serif;
        font-size: 1.1em;
        line-height: 1.5em;
        margin: 0 auto;
        max-width: 100%;
        padding:0;
        position: relative;
        width: 80%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;

    }
    .ngdialog.ngdialog-theme-plain .ngdialog-close:before {
        color: #fff;
        font-size: 36px;


    }


</style>

<div class="alert">
    <div class="head">签到规则</div>
    <div class="content">
    <p>1、以10天为单位，第一天签到得10积分</p> </br>
    <p>2、连续签到一天加5积分</p> <br/>
    <p>如：第一天：10积分</p><br/>
    <p>第二天：15积分</p><br/>
    <p>第三天：20积分</p><br/>
    <p>第一天：10积分</p><br/>
    <p>3、如未连续签到，则重第一天开始</p>
    <br>
    </div>
</div>

