<div class="modal modal-bg" ng-click="closeModal()"></div>
<div class="black">
    <div class="row text-center sharecontent">
        <a class=" col col-33">
            <img ng-src="testsource/img////////////////////////////////////////////////////////////weixin.png">
            <!--<p>weixin</p>-->
        </a>
        <a class=" col col-33">
            <img ng-src="testsource/img////////////////////////////////////////////////////////////QQ.png">
            <!--<p>weixin</p>-->
        </a>
        <a class=" col col-33">
            <img ng-src="testsource/img////////////////////////////////////////////////////////////weibo.png">
            <!--<p>weixin</p>-->
        </a>

    </div>
</div>