<style>
    .confirmbox {
        text-align: center;
    }

    .ngdialog.ngdialog-theme-plain .ngdialog-content {
        color: #000000;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 1.1em;
        line-height: 1.5em;
        margin-bottom: 0px;
        max-width: 100%;
        padding: 0;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 100px;

    }

</style>
<div class="sharedialog">
    <div class="black">
        <div class="row text-center sharecontent">
            <a class=" col col-33">
                <img ng-src="testsource/img////////////////////////////////////////////////////////////weixin.png">
                <!--<p>weixin</p>-->
            </a>
            <a class=" col col-33">
                <img ng-src="testsource/img////////////////////////////////////////////////////////////QQ.png">
                <!--<p>weixin</p>-->
            </a>
            <a class=" col col-33">
                <img ng-src="testsource/img////////////////////////////////////////////////////////////weibo.png">
                <!--<p>weixin</p>-->
            </a>

        </div>

</div>