<style>
    .confirmbox{text-align: center;}
    .ngdialog.ngdialog-theme-plain .ngdialog-content {
        color: #000000;
        font-family: 'Helvetica Neue',sans-serif;
        font-size: 1.1em;
        line-height: 1.5em;
        margin: 0 auto;
        max-width: 100%;
        padding:0;
        position: relative;
        width: 80%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

</style>
<div class="confirm">


<div class="confirmbox">
    <div class="head">{{titletext}}</div>
</div>
<div class="row btn">
    <div class="col col-50 text-center border-left" ng-click="closeThisDialog('button')">{{cancelButtonName}}</div>
    <div class="col col-50 text-center color-right" ng-click="confirm(confirmValue)" >{{confirmButtonName}}</div>
</div>
</div>