<ion-view class="message" hide-tabs="true">
    <ion-header-bar class="bar-calm">
        <a ui-sref="tab.user"> <i class="ion-chevron-left backion" style="font-size: 20px ;padding-left: 10px"></i></a>
        <h5 class="title">提现申请</h5>
    </ion-header-bar>
    <ion-content>
        <ul class="list">

            <li class="item item-thumbnail-left">
                <img src="testsource/img////////////////////////////////////////////////////////////home.png">

                <h2>支付宝</h2>

                <p>未绑定</p>
            </li>

            <li class="item item-thumbnail-left msh">
                <img src="testsource/img////////////////////////////////////////////////////////////home.png">

                <div class="row">
                    <div class="col col-70  ">
                        <h2>微信</h2>

                        <p>未绑定</p>
                    </div>
                    <div class="col col-30 text-center">07-03</div>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
