<ion-view class="leaveword" hide-tabs="true">
  <ion-header-bar class="bar-calm">
    <a onclick="history.go(-1)"> <i class="ion-chevron-left backion" style="font-size: 20px ;padding-left: 10px"></i></a>
    <h5 class="title">客服留言</h5>
  </ion-header-bar>
  <ion-content>
    <ul class="list">
      <li class="left">
        <div class="row" >
          <div class="col col-20"><div class="headimg"></div></div>
          <div class="col col-80"><div class="word">你说什么.你说什么你说什么你说什么你说什么..........</div></div>
        </div>
      </li>
    </ul>
    <div class="text-center">
      <i class="time">6月21日 12:00</i>
    </div>
    <ul class="list">
      <li>
        <div class="row">
          <div class="col col-80 text-right"><div class="word wordright">你说什么......</div></div>
          <div class="col col-20"><div class="headimg"></div></div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col col-80 text-right"><div class="word wordright">你说什么......</div></div>
          <div class="col col-20"><div class="headimg" style="margin-right: 0px"></div></div>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
