<ion-view class="linkman" hide-tabs="true">
  <ion-header-bar class="bar-calm">
    <a ui-sref="tab.user"> <i class="ion-chevron-left backion" style="font-size: 20px ;padding-left: 10px"></i></a>
    <h5 class="title">联系客服</h5>
  </ion-header-bar>
  <ion-content>
    <ul class="list">
      <li class="item item-thumbnail-left msh" ui-sref="tab.leaveword">
        <img src="img/leaveword.png">
        <div class="row">
          <div class="col col-70">
            <h2>客服留言</h2>
            <p>内容内容...</p>
          </div>
          <div class="col col-30 text-right date">07-03</div>
        </div>
      </li>
      <li class="item item-thumbnail-left msh">
        <img src="img/weixin.png">
        <div class="row">
          <div class="col col-70">
            <h2>微信客服</h2>
            <p>点击获取微信客服号</p>
          </div>
          <div class="col col-30 text-right date">07-03</div>
        </div>
      </li>
      <li class="item item-thumbnail-left msh">
        <img src="img/QQ.png">
        <div class="row">
          <div class="col col-70">
            <h2>QQ客服</h2>
            <p>点击获取QQ客服号</p>
          </div>
          <div class="col col-30 text-right date">07-03</div>
        </div>
      </li>
      <li class="item item-thumbnail-left msh">
        <img src="img/guanfangsite.png" class="">
        <div class="row">
          <div class="col col-70">
            <h2>官方网站</h2>
            <p>进入官方网站</p>
          </div>
          <div class="col col-30 text-right date">07-03</div>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
