<ion-view class="message" hide-tabs="true">
  <ion-header-bar class="bar-header bar-calm">
    <a onclick="history.go(-1)"> <i class="ion-chevron-left backion light" style="font-size: 20px ;line-height: 30px;padding-left: 10px"></i></a>
    <h5 class="title">我的消息</h5>
  </ion-header-bar>

  <ion-content>
    <div class="detaillist">
      <div class="row">
        <img src="img/home.png" alt="" class="img">
        <div class="col col-60 text-left">
          <h2>运营通知</h2>
          <p class="tip" >下载侠更新新功能了</p>
        </div>
        <div class="col col-20 text-right"><i class=" date">07-22</i></div>
      </div>
      <div class="hr">
        <hr/>
      </div>
      <div class="row">
        <img src="img/home.png" alt="" class="img">
        <div class="col col-60 text-left">
          <h2>运营通知</h2>
          <p class="tip" >下载侠更新新功能了</p>
        </div>
        <div class="col col-20 text-right"><i class=" date">07-22</i></div>
      </div>
      <div class="hr">
        <hr/>
      </div>
    </div>
  </ion-content>

</ion-view>
