<ion-view hide-tabs="true" class="incomedetail">
    <ion-header-bar class="bar-header bar-calm">
        <a ui-sref="tab.income" class="backbtn"> <i class="ion-chevron-left text-center"
                                                    style="font-size: 20px ;padding: 10px 10px;line-height: 1.8;"></i></a>
        <h5 class="title">收益明细</h5>
    </ion-header-bar>
    <ion-content class="cbg">
        <div class="row itemlist">
            <div class="col col-50 hed">
                <div class="item-input item-select selecthg">
                    <div class="text-left">
                        2016年
                    </div>
                    <select class="text-right select">
                        <option value="1">01月</option>
                        <option value="2">02月</option>
                        <option value="3">03月</option>
                        <option value="4">04月</option>
                        <option value="5">05月</option>
                        <option value="6">06月</option>
                        <option value="7" selected="">07</option>
                        <option value="8">08月</option>
                        <option value="9">09月</option>
                        <option value="10">10月</option>
                        <option value="11"><11月</option>
                        <option value="12">12月</option>
                    </select>
                </div>
            </div>
            <div class="col col-50">
                <div class="row">
                    <div class="col col-50 text-left">收入 (元)</div>
                    <div class="col col-50 text-right">0.00</div>
                </div>
            </div>

        </div>

        <div class=" padding headtitle">
            明细
        </div>

        <div class="itemlist">
            <p class="pad date">13日－星期一</p>

            <div class="row">
                <div class="col col-50 text-left">自己收益</div>
                <div class="col col-50 text-right">+4.00</div>
            </div>

            <div class="pad">
                <hr class="hr">
            </div>

            <div class="row">
                <div class="col col-50 text-left">徒弟收益</div>
                <div class="col col-50 text-right">+3.50</div>
            </div>

        </div>

    </ion-content>
</ion-view>