<ion-view class="lucydrawdetail" hide-tabs="true">
  <ion-header-bar class="bar-header bar-calm">
    <a onclick="history.go(-1)"> <i class="ion-chevron-left backion light" style="font-size: 20px ;line-height: 30px;padding-left: 10px"></i></a>
    <h5 class="title">抽奖记录</h5>
  </ion-header-bar>

  <ion-content>
    <div class="detaillist">
      <div class="row">
        <div class="col col-50 text-left money"><i class="num">10元</i>现金</div>
        <div class="col col-50 text-right"><i class="date">2016-07-22</i></div>
      </div>

      <div class="row">
        <div class="col col-50 text-left money"><i class="num">10元</i>现金</div>
        <div class="col col-50 text-right"><i class="date">2016-07-22</i></div>
      </div>

    </div>
  </ion-content>

</ion-view>
