<ion-view class="productlist" cache-view="false">
    <ion-header-bar class="bar-header bar-calm">
        <a ui-sref="tab.home" nav-direction="back"> <i class="ion-chevron-left text-center"
                                  style="font-size: 20px ;padding: 10px 10px;line-height: 1.8;"></i></a>
        <h5 class="title">0.5-2元区</h5>
    </ion-header-bar>
                <ion-content class="bg">
                    <!--<ion-refresher-->
                    <!--pulling-text="Pull to refresh..."-->
                    <!--on-refresh="doRefresh()">-->
                    <!--</ion-refresher>-->
                    <ion-list>
                        <div class="card pro" ui-sref="productdetail" nav-direction="forward">
                            <div class="item-remove-animate  item-thumbnail-left pro-item">
                                <img class="thumb" src="testsource/img////////////////////////////////////////////////////////////pro1.png">
                                <span style="font-size: 14px">关注公众号＋转发朋友圈</span><br>
                                <span style="font-size: 10px">北京｜学生</span><br>
                                   <span class="item-note pro-mon">
                                        <span style="font-size: 20px;color: #ff611b">1.5</span>元
                                  </span>
                                <span style="font-size: 10px">剩余200次</span><br>
                                <span style="font-size: 10px">2016-07-30截止</span>
                            </div>
                            <p class="text-center pro-tip">
                            </p>
                        </div>

                        <div class="card pro"  ui-sref="productdetail" nav-direction="forward">
                            <div class="item-remove-animate  item-thumbnail-left pro-item">
                                <img class="thumb" src="testsource/img////////////////////////////////////////////////////////////pro2.png">
                                <span style="font-size: 14px">关注公众号＋转发朋友圈</span><br>
                                <span style="font-size: 10px">北京｜学生</span><br>
                                   <span class="item-note pro-mon">
                                        <span style="font-size: 20px;color: #ff611b">1.5</span>元
                                  </span>
                                <span style="font-size: 10px">剩余200次</span><br>
                                <span style="font-size: 10px">2016-07-30截止</span>
                            </div>
                            <p class="text-center pro-tip">
                            </p>
                        </div>
                    </ion-list>
                    <!--<ion-infinite-scroll on-infinite="load_more();">-->
                    <!--</ion-infinite-scroll>-->
                </ion-content>



</ion-view>