<ion-view hide-tabs="true" class="productdetail">
    <ion-header-bar class="bar-header bar-calm">
        <a ui-sref="productlist" nav-direction="back">
            <i class="ion-chevron-left text-center"
               style="font-size: 20px ;padding: 10px 10px;line-height: 1.8;"></i>
        </a>
        <h5 class="title">任务</h5>
    </ion-header-bar>
    <ion-content style="background-color: #f5f5f5">
        <div class="cbg">
            <p class="detail-title"><span class="rg"></span>关注公众号＋转发朋友圈</p>

            <p class="text-center pro-tip">
            </p>

            <div class="card pro">
                <div class="item-remove-animate  item-thumbnail-left pro-item">
                    <img class="thumb" src="testsource/img////////////////////////////////////////////////////////////pro1.png">
                    <span style="font-size: 12px">剩余： 200次</span><br>
                                   <span class="item-note pro-mon">
                                        <span style="font-size: 30px;color: #ff611b">1.5</span>元
                                  </span>
                    <span style="font-size: 12px">限制： 不限</span><br>

                    <span style="font-size: 12px">审核： 2小时</span><br>
                    <span style="font-size: 12px">截止： 2016-07-30</span>
                </div>

            </div>

            <div class="pro-explain">
                <p class="detail-title"><span class="rg"></span>任务说明</p>

                <p class="text-center pro-tip">
                </p>

                <p class="fontc">1、好友注册时添加注册码，或好友通过扫描您的二维码注册。<br/>
                    2、您的徒弟完成任务之后，您可得奖励1元钱，最高为10元
                </p>
            </div>
            <div class="pro-explain">
                <p class="detail-title"><span class="rg"></span>美文</p>

                <p class="text-center pro-tip">
                </p>

                <p class="fontc">1、好友注册时添加注册码，或好友通过扫描您的二维码注册。<br/>
                    2、您的徒弟完成任务之后，您可得奖励1元钱，最高为10元
                </p>
            </div>

        </div>
    </ion-content>
    <ion-footer-bar>
        <a class="title foot" ng-click="showConfirm();">领取任务</a>
        <!--<a ui-sref="submittask" nav-direction="forward" class="title foot" ng-click="showConfirm();">领取任务</a>-->
        <!--<a class="button leftbtn" href="#/tasking">预览</a>-->
        <!--<a class="button rightbtn" ng-click="gobottom();">立即申请</a>-->
    </ion-footer-bar>

</ion-view>
