.tskdetail{
  background-color: #f8f8dc;
  .detail1{
    background-color: #ffffff;
    padding-left: 20px;
  }
  .price{
    margin-right: 20px;
  }
  .title{
    padding-top: 3px;
    font-size: 20px;
  }
  .money{
    font-size: 20px;
    color: red;
    padding-right: 3px;
  }
  .image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
  }
  .backbtn {
    color: #fff;
    font-size: 12px;
    padding: 0px 3px; }
  .backion {
    padding: 0px 5px; }
}

