.user .uimg {
  max-width: 75px !important;
  max-height: 75px !important;
  margin-top: 30px; }
.user .sub-head {
  padding: 0px; }
.user .row .user {
  padding-left: 40px; }
.user .userhed {
  padding: 50px;
  padding-top: 44px;
  padding-left: 110px;
  height: 163px; }
.user .row .col .info {
  padding-top: 18px;
  font-size: 18px; }
.user .row .col .login {
  font-size: 16px;
  padding-top: 25px; }
.user .borderright {
  border-right: 1px solid #ddd; }
.user .red {
  color: #ff611b;
  padding-right: 2px;
  font-size: 18px; }
.user .rowpadding {
  padding: 0px; }
.user .pro {
  margin: 5px 0;
  box-shadow: none; }
.user .pro-item {
  line-height: 18px;
  padding-top: 14px;
  position: relative;
  margin: 0px 10px; }
.user .icon-our {
  margin-left: -11px;
  color: #a7a7a7; }
.user .item h2 {
  font-size: 14px; }
.user .item .msg {
  margin-left: -11px;
  color: #363636; }
.user .item .go {
  color: #a7a7a7; }

.message .detaillist h2 {
  margin: 5px 0px;
  font-size: 9px; }
.message .tip {
  color: #a3a3a3;
  font-size: 2px;
  margin: 0px; }
.message .date {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 9px;
  color: #a3a3a3;
  line-height: 37px; }
.message .detaillist .row {
  padding: 0px 2px 0px 2px; }
.message .img {
  width: 43px !important;
  height: 43px !important;
  margin: 5px 4px 4px 4px;
  border: 1px solid #000000; }
.message .hr {
  margin-top: 0px;
  width: 100%;
  padding: 1px 10px 0px 10px; }

.linkman .item h2 {
  font-size: 15px;
  color: #363636; }
.linkman .item p {
  font-size: 11px;
  color: #a3a3a3;
  margin-top: 20px;
  line-height: 22px; }
.linkman .date {
  font-size: 15px;
  color: #a3a3a3;
  line-height: 40px; }
.linkman .row {
  height: 36px; }

.userinfo {
  background-color: #5AC9FE; }
  .userinfo .title {
    color: white; }
  .userinfo ion-header-bar {
    border: none; }
  .userinfo .item {
    border: none; }
  .userinfo .edit {
    position: absolute;
    right: 10px;
    padding-top: 6px; }
  .userinfo .uimg {
    width: 76px !important;
    height: 76px !important;
    margin-left: -48px; }
  .userinfo .setHead {
    margin: 0px auto; }
  .userinfo .setHead h2 {
    margin-left: -48px;
    font-size: 15px;
    color: white;
    margin-bottom: 5px; }
  .userinfo .detaillist {
    color: #000000;
    margin: 0px 10px; }
  .userinfo .row {
    padding: 3px 0px;
    border-bottom: 1px solid #E4E5E2;
    font-size: 14px; }
  .userinfo .identity {
    border-bottom: none; }
  .userinfo .grey {
    width: 100%;
    height: 4px;
    background-color: #F5F5F5; }
  .userinfo input {
    color: #a3a3a3;
    background-color: #fff; }
  .userinfo .name {
    width: 100%;
    height: 20px;
    margin: 0px;
    text-align: right; }
  .userinfo .birthday {
    padding: 2px 0px !important;
    text-align: right;
    font-size: 13px;
    height: 24px;
    margin: 5px 0px 0px 80px;
    margin-right: -25px; }
  .userinfo .birdiv {
    text-align: right;
    display: inline-block;
    padding: 0px; }
  .userinfo .text-right {
    text-align: right; }
  .userinfo .col-35 {
    text-align: left; }

.receivepupil .code {
  margin: 5px auto;
  background-color: white; }
.receivepupil .usercode {
  padding-top: 10px;
  font-size: 16px; }
.receivepupil .codebd {
  color: #ff611b;
  font-size: 18px;
  border: 1px dashed #888888;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px; }
.receivepupil .fontc {
  color: #a3a3a3;
  font-size: 8px; }
.receivepupil .add {
  font-size: 16px;
  color: #F5F5F5;
  background-color: #5ac7ff;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px; }
.receivepupil .grey {
  width: 100%;
  height: 4px;
  background-color: #F5F5F5; }
.receivepupil .regbg {
  background-color: white; }
.receivepupil .rg {
  border-left: 7px solid #5ac7ff;
  padding-left: 5px; }

.leaveword .headimg {
  width: 45px;
  height: 45px;
  background: url(http://localhost:9000/myApp/www/img/user.png) no-repeat center center;
  background-size: 63px 63px; }
.leaveword .word {
  display: inline-block;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  padding: 10px;
  color: #363636;
  font-size: 15px;
  width: 58%; }
.leaveword .wordright {
  width: 58%;
  text-align: left; }
.leaveword .item {
  border: none; }
.leaveword .left {
  padding-right: 15px;
  padding-bottom: 0px; }
.leaveword li {
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 0px; }
.leaveword .time {
  display: inline-block;
  width: 117px;
  background-color: #4d4d4d;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px; }

/*# sourceMappingURL=user.css.map */
